<%- include('partials/header') %>

    <div class="container-fluid">
        <div class="row">
            <!-- Left Drawer Section -->
            <%- include('sections/left-section') %>

                <!-- Main Content -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <!-- <h2 class="mt-4">Sample Bar Chart</h2> -->
                    <!-- <canvas id="barChart"></canvas> -->
                    <h1>Sample EJS Application</h1>


                </main>
        </div>
    </div>

    <%- include('partials/footer') %>